@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.radix-themes {
  --default-font-family: var(--font-inter);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  font-weight: 500;
}

h2 {
  @apply text-3xl flex justify-center items-center p-2 font-semibold gap-3
}
